/src/node_modules/
/src/.env
/deployment/kubernetes/secrets-with-credentials.yaml
/deployment/helm/oneidp/values-with-credentials.yaml
/deployment/terraform/.terraform
/deployment/terraform/.terraform.lock.hcl
/deployment/terraform/.terraform.tfstate.lock.info
/deployment/terraform/terraform.tfstate
/deployment/terraform/terraform.tfstate.backup
/deployment/terraform/terraform.tfvars
/deployment/terraform/oneidp.tfvars
